{% extends 'navbar.html' %}
{% block content %}
    <ul class="breadcrumb">
        <li>IAS</li>
        <li><a href="{{ url_for('show_assessments') }}">Assessments</a></li>
        <li>Edit "{{ assessment_info(aid).title }}"</li>
        <li class="active">Questions</li>
    </ul>
    <table class="table">
        <tr>
            <th width="30%">Question</th>
            <th>Type</th>
            <th>Answer choices</th>
            <th>Answer</th>
            <th>Tools</th>
        </tr>
        {% for q in questions %}
            <tr>
                <td width="30%">{{ q.text }}</td>
                <td>{{ types[q.type] }}</td>
                <td>{{ q.answer_choices }}</td>
                <td>{{ q.answer }}</td>
                <td>
                    <a href="{{ url_for('edit_question_view', qid=q.qid) }}">edit</a> |
                    <a href="{{ url_for('preview_question', qid=q.qid) }}">preview</a> |
                    <a href="{{ url_for('rm_from_assessment', qid=q.qid) }}">remove from test</a>
                </td>
            </tr>
        {% endfor %}
{% endblock %}
